<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" >
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]="model.firstName">
      <mat-error *ngIf="userForm.controls.firstName">You must enter a value</mat-error>
     
    </mat-form-field> 
    <br>
    <mat-form-field class="example-full-width" >
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="model.lastName">
        <mat-error *ngIf="userForm.controls.lastName">You must enter a value</mat-error>
      </mat-form-field> 
      <br>
      <mat-form-field class="example-full-width" >
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" [(ngModel)]="model.email">
        <mat-error *ngIf="userForm.controls.email">It must be a valid email</mat-error>
      </mat-form-field> 
      <br>  
      <mat-form-field appearance="fill" *ngIf="isNew">
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" [(ngModel)]="password" matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="userForm.controls.password">It must be a valid password</mat-error>
      </mat-form-field>
      <br>
      <mat-slide-toggle formControlName="isAdmin" [(ngModel)]="model.isAdmin">Admin</mat-slide-toggle>
      <br>
      
    <button mat-raised-button [disabled]="userForm.invalid" color="primary" type="submit"  *ngIf="isNew">Save</button>
    <button mat-raised-button [disabled]="userForm.invalid" color="primary" type="submit"  *ngIf="!isNew">Update</button>
  </form>