<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <ng-template [ngIf]="!isLoadingResults">
    <div
      class="movie"
   
      *ngIf="movie">
      <div class="movie--background">
        <div
          class="image-rotator"
          [ngStyle]="{
            'background-image':'url(' + movie.image.original +')'}"
        ></div>
        <div class="vignette"></div>
      </div>
      <div class="movie__head">
        <button class="btn-back" (click)="back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2>{{ movie.name }}</h2>
      </div>
      <div class="movie__body">
        <!-- <div class="movie--infos">
          <p>
            <mat-icon>date_range</mat-icon> {{ movie.release_date | date: "y" }} •
            <mat-icon>timer</mat-icon> {{ movie.runtime }} minutes •
            <mat-icon
              [ngClass]="{
                'mat-green': movie.vote_average >= 5,
                'mat-red': movie.vote_average < 5
              }"
              >star</mat-icon>
            {{ movie.vote_average }}
          </p>
        </div> -->
        <div class="movie--genre">
          <ul>
            <li *ngFor="let genre of movie.genres">
              <a >
                {{ genre }}</a>
            </li>
          </ul>
        </div>
        <p class="movie--overview" [innerHTML]="movie.summary" ></p>   
      </div>
    </div>

    <mat-tab-group class="movie__tab">

      <mat-tab label="Cast">
        <section class="movie--cast" *ngIf="casts.length > 0; else noCast">
          <div class="cast" *ngFor="let cast of casts">
            <a >
              <div
                class="icon-container avatar"
                [ngStyle]="{'background-image':'url(' + cast.person.image.medium +')', 'background-size': 'cover'}">
                <mat-icon *ngIf="! cast.person.image.medium" class="icon-person">person</mat-icon>
              </div>
              <h3>{{ cast.person.name }}</h3>            
            </a>
          </div>
        </section>
        <ng-template #noCast>
          <h3>
            No Result
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </h3>
        </ng-template>

      </mat-tab>

      <mat-tab label="Seasons">
        <section class="movie--cast" *ngIf="seasons.length > 0; else noSeasons">
            <div class="seasons">
                <mat-form-field>
                    <mat-label>Season</mat-label>
                    <mat-select [(ngModel)]="episodes">
                      <mat-option *ngFor="let season of seasons" [value]="season.value" >
                        Season {{season.key}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

               
                  <mat-grid-list cols="4" >
                    <mat-grid-tile *ngFor="let episode of episodes">
                      <mat-card >
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>{{episode.number}} - {{episode.name}}</mat-card-title>                    
                        </mat-card-header>                  
                        <mat-card-content>
                          <img mat-card-lg-image src="{{episode.image.medium}}"/>
                          <div [innerHTML]="episode.summary">
    
                          </div>
                        </mat-card-content>                    
                      </mat-card>
                    </mat-grid-tile>
                  
                  </mat-grid-list>
                  

                  
               
            </div>
        </section>
        <ng-template #noSeasons>
          <h3>
            No Result
            <mat-icon>sentiment_very_dissatisfied</mat-icon>
          </h3>
        </ng-template>

      </mat-tab>

  
    </mat-tab-group>
  </ng-template>
  