 <div *ngIf="shows && shows.length >0;else noData">
  <span>{{shows.length}} shows found</span>
  <mat-grid-list cols="4" gutterSize="5px" rowHeight="370px" >
    <mat-grid-tile *ngFor="let show of shows">
      <mat-card >      
           <a [routerLink]="['/detail', show.id]">           
                  <img  mat-card-image
                  *ngIf="show.image.medium" 
                  [defaultImage]="'assets/images/no_poster_available.jpg'" 
                  [lazyLoad]="show.image.medium"
                    alt="poster movie">      
                  <img *ngIf="!show.image.medium" 
                  mat-card-image
                  src="/assets/images/no_poster_available.jpg" 
                  alt="No poster available"> 
                </a>             
          <mat-card-content>
              {{show.name}}           
          </mat-card-content>      
       </mat-card>
    </mat-grid-tile>
  
  </mat-grid-list> 

 </div>
 
<ng-template #noData>
  <h3>
    Sorry!  there not movies
    <mat-icon>sentiment_very_dissatisfied</mat-icon>
  </h3>
</ng-template>
